.info-display {
  margin: 12px 12px;
}

.info-display li {
  list-style: none;
}

.city-display {
  font-size: 2em;
  text-align: center;
}

.country {
  opacity: 40%;
}

.date {
  margin-bottom: 0;
}

.temp {
  // border: 1px solid black;
  font-size: 2.2em;
  display: flex;
  justify-content: center ;
}

.temp a {
  text-decoration: none;
}

.icon-col {
  display: flex;
}

.date-display {
  text-align: center;
  font-size: 1.2em;
}

.temp-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  // justify-content: center;
  // font-size: 1em;
}

.feels_like, .weather-desc {
  font-size: 1em;
}

.icon-display {
  display: flex;
  justify-content: center;
}

.main-icon-display {
  // border: 1px solid black;
  width: 60%;
  height: auto;
}

.weather-details {
  display: flex;
  justify-content: space-evenly;
}

.temp_low {
  opacity: 40%;
}

.WeatherForecast {
  text-align: center;
  padding-bottom: 12px;
}

.WeatherForecast-icon {
  width: auto;
  height: auto;
}

.WeatherForecast-temp-min {
  opacity: 40%;
  margin-left: 5px;
}

@media (max-width: 550px) {
  .city-display {
    font-size: 1.5em;
  }

  .date-display {
    font-size: 1em;
  }

  .temp {
    font-size: 1.5em;
  }

  .feels_like, .weather-desc {
    font-size: 0.75em;
  }
}