$primary-color: rgb(207, 211, 236, 0.45);
$secondary-color: #c1c1c1;

.App {
  font-family: sans-serif;
  text-align: left;
  padding-left: 10px;
}

.App-body {
  display: block;
  margin: auto;
  box-shadow: 5px 5px 5px 0 rgb(0 0 0 / 10%), 0 0 0 1px rgb(0 0 0 / 8%);
  max-width: 540px;
  border-radius: 7px;
  padding: 10px;
  // background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  // background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  // background: radial-gradient(circle at 10% 20%, rgba(216, 241, 230, 0.46) 0.1%, rgba(233, 226, 226, 0.28) 90.1%);
  // background: linear-gradient(109.6deg, rgb(245, 239, 249) 30.1%, rgb(207, 211, 236) 100.2%);
  // background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background: radial-gradient(circle at 10% 20%, rgb(242, 235, 243) 0%, rgb(234, 241, 249) 90.1%);
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}

.search-form {
  margin: 7px;
}

.search-btn {
  background-color: rgb(207, 211, 236, 0.45);
  border-color: $primary-color;
  color: $secondary-color;
  width: 100%;
}

.search-btn:hover, .search-btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  color: $secondary-color;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.search-btn:hover {
  transform: translateY(-1px);
}

.search-btn:active {
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
