.info-display {
  margin: 12px 12px;
}

.info-display li {
  list-style: none;
}

.date {
  margin-bottom: 0;
}

.temp {
  // display: flex;
  // border: 1px solid black;
  font-size: 26px;
}

.temp a {
  text-decoration: none;
}

.icon-col {
  display: flex;
}

.main-icon-display {
  // border: 1px solid black;
  // padding: auto;
  width: 65%;
  height: auto;
}

// .weather-icon {
//   width: 40%;
//   height: auto;
// }

.WeatherForecast {
  text-align: center;
  padding-bottom: 12px;
}

.WeatherForecast-date {
  // border: 1px solid black;
}

.WeatherForecast-icon {
  width: auto;
  height: auto;
}

.WeatherForecast-temp-min {
  opacity: 40%;
  margin-left: 5px;
}