.info-display {
  margin: 12px 12px;
}

.info-display li {
  list-style: none;
}

.city-display {
  font-size: 30px;
  text-align: center;
}

.country {
  opacity: 40%;
}

.date {
  margin-bottom: 0;
}

.temp {
  // border: 1px solid black;
  font-size: 32px;
  display: flex;
  justify-content: center ;
}

.temp a {
  text-decoration: none;
}

.icon-col {
  display: flex;
}

.date-display {
  text-align: center;
  font-size: 18px;
}

.feels_like {
  display: flex;
  justify-content: center;
}

.icon-temp-display {
  display: flex;
  justify-content: center;
}

.main-icon-display {
  // border: 1px solid black;
  width: 50%;
  height: auto;
}

.weather-desc {
  text-align: center;
  font-size: 18px;
}

.weather-details {
  display: flex;
  justify-content: space-evenly;
}


.WeatherForecast {
  text-align: center;
  padding-bottom: 12px;
}

.WeatherForecast-icon {
  width: auto;
  height: auto;
}

.WeatherForecast-temp-min {
  opacity: 40%;
  margin-left: 5px;
}