.info-display {
  margin: 12px 12px;
}

.info-display li {
  list-style: none;
}

.date {
  margin-bottom: 0;
}

.temp {
  margin-left: 10px;
  float: right;
  font-size: 18px;
}

.icon-col {
  display: flex;
}

.weather-icon {
  width: 40%;
  height: auto;
}